@import 'setup';
@import 'variables';

header {
    height: 100vh;
    width: 100%;
}

i {
    font-size: 5rem;
    color: white;
}

.arrowOne,
.arrowTwo,
.arrowThree {
    position: absolute;
    left: 48%;
}

.arrowOne {
    bottom: 50px;
}

.arrowOne:hover,
.arrowOne:focus,
.arrowThree:hover,
.arrowThree:focus {
    color: $primaryColor;
    transition: 1.5s;
}

.arrowTwo {
    top: 185%;
}

.arrowTwo:hover,
.arrowTwo:focus {
    color: $tertiaryColor;
    transition: 1.5s;
}

.arrowThree {
    top: 285%;
}

h1 {
    color: $primaryColor;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12rem;
    letter-spacing: 3px;
    text-transform: lowercase;
}

h1 span {
    display: block;
    font-size: 5rem;
    font-style: italic;
    text-transform: lowercase;
    color: black;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: lowercase;
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 50px;
    margin: 20px 0;
}

.headerText {
    height: 80vh;
}

.headerText,
.questionContainer,
.answerContainer,
.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionContainer {
    height: 100vh;
    text-align: center;
}

.containerOne {
    background: $primaryColor;
    height: 100vh;
    text-align: center;
    h2,
        label {
            color: white;
        }
}

h1, 
header p, 
.containerTwo,
.containerThree,
.answer,
button {
    text-align: center;
}

.containerThree {
    height: 80vh;
}

.headerText p {
    margin-top: 25px;
}

.button {
    display: flex;
}

button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    text-transform: lowercase;
    color: white;
    border: 1px solid $secondaryColor;
    background: $secondaryColor;
    letter-spacing: 2px;
    padding: 15px 20px;
    margin: 20px auto;
}

button:hover,
button:focus {
    background: #F3BDA5;
    border: 1px solid white;
    transition: 1.5s;
}

button:focus {
    border: 3px solid $secondaryColor;
}

.answer {
    height: 50vh;
}

label {
    margin-right: 15px;
}

.containerTwo {
    // gradient animation made with gradient-animator
     background: linear-gradient(319deg, #c26a91, #e6e3e1);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:29% 0%}
        50%{background-position:72% 100%}
        100%{background-position:29% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:29% 0%}
        50%{background-position:72% 100%}
        100%{background-position:29% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:29% 0%}
        50%{background-position:72% 100%}
        100%{background-position:29% 0%}
    }
}

// media queries
@media (max-width: 940px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}